.menu-text {
  font-family: monospace;
  font-size: 2rem;
  font-weight: normal;
  text-align: center;
  border-radius: 10px;

  margin: 0 0 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.hacker {
  border-radius: 0.5rem;
  padding: 0.25rem;
}

.hacker:hover {
  background-color: black;
  color: white;
}

.grass {
  background-image: url('../assets/grass.png');
  background-position: center;
}

.sidewalk {
  background-image: url('../assets/sidewalk.png');
  background-position: center;
}

.man-on-sidewalk {
  background-image: url('../assets/man.png'), url('../assets/sidewalk.png');
  background-size: 90% 90%, cover;
  background-position: center;
  background-repeat: no-repeat;
}

.road {
  background-image: url('../assets/road.png');
  background-size: 100%;
  background-position: center;
}

.green-car-on-road {
  background-image: url('../assets/car-green.png'), url('../assets/road.png');
  background-size: 90% 90%, cover;
  background-position: center;
  background-repeat: no-repeat;
}

.red-car-on-road {
  background-image: url('../assets/car-red.png'), url('../assets/road.png');
  background-size: 90% 90%, cover;
  background-position: center;
  background-repeat: no-repeat;
}

.yellow-car-on-road {
  background-image: url('../assets/car-yellow.png'), url('../assets/road.png');
  background-size: 90% 90%, cover;
  background-position: center;
  background-repeat: no-repeat;
}

.crossroad {
  background-image: url('../assets/crossroad.png');
  background-size: 100%;
  background-position: center;
}

.green-car-on-crossroad {
  background-image: url('../assets/car-green.png'), url('../assets/crossroad.png');
  background-size: 90% 90%, cover;
  background-position: center;
  background-repeat: no-repeat;
}

.red-car-on-crossroad {
  background-image: url('../assets/car-red.png'), url('../assets/crossroad.png');
  background-size: 90% 90%, cover;
  background-position: center;
  background-repeat: no-repeat;
}

.yellow-car-on-crossroad {
  background-image: url('../assets/car-yellow.png'), url('../assets/crossroad.png');
  background-size: 90% 90%, cover;
  background-position: center;
  background-repeat: no-repeat;
}

.crosswalk {
  background-image: url('../assets/crosswalk.png');
  background-size: 100%;
  background-position: center;
}

.man-on-crosswalk {
  background-image: url('../assets/man.png'), url('../assets/crosswalk.png');
  background-size: 90% 90%, cover;
  background-position: center;
  background-repeat: no-repeat;
}

.green-car-on-crosswalk {
  background-image: url('../assets/car-green.png'), url('../assets/crosswalk.png');
  background-size: 90% 90%, cover;
  background-position: center;
  background-repeat: no-repeat;
}

.red-car-on-crosswalk {
  background-image: url('../assets/car-red.png'), url('../assets/crosswalk.png');
  background-size: 90% 90%, cover;
  background-position: center;
  background-repeat: no-repeat;
}

.red-car-on-red-crosswalk{
  background-image: url('../assets/car-red.png'), url('../assets/red-crosswalk.png');
  background-size: 90% 90%, cover;
  background-position: center;
  background-repeat: no-repeat;
}

.red-car-on-green-crosswalk{
  background-image: url('../assets/car-red.png'), url('../assets/green-crosswalk.png');
  background-size: 90% 90%, cover;
  background-position: center;
  background-repeat: no-repeat;
}

.yellow-car-on-crosswalk {
  background-image: url('../assets/car-yellow.png'), url('../assets/crosswalk.png');
  background-size: 90% 90%, cover;
  background-position: center;
  background-repeat: no-repeat;
}

.yellow-car-on-red-crosswalk {
  background-image: url('../assets/car-yellow.png'), url('../assets/red-crosswalk.png');
  background-size: 90% 90%, cover;
  background-position: center;
  background-repeat: no-repeat;
}

.yellow-car-on-green-crosswalk {
  background-image: url('../assets/car-yellow.png'), url('../assets/green-crosswalk.png');
  background-size: 90% 90%, cover;
  background-position: center;
  background-repeat: no-repeat;
}

.up {
  transform: rotate(180deg);
}

.down {
  transform: rotate(0deg);
}

.left {
  transform: rotate(90deg);
}

.right {
  transform: rotate(270deg);
}
